<div>
<lable>Name</lable>
<input type="text" name="name" value="<%= supplier.name %>">
</div>

<div>
<lable>Phone number</lable>
<input type="text" name="phone" value="<%= supplier.phone %>">
</div>

<div>
<lable>WeChat</lable>
<input type="text" name="weChat" value="<%= supplier.weChat %>">
</div>


<div class="hide">
    <lable>company who posted this (ID)</lable>
    <input type="text" name="company" value="<%= companyID %>">
</div>