<div>
    <%- include('../partials/header_private.ejs') %>
</div>

    
<h2>Edit Supplier</h2>
<form action="/suppliers/<%= supplier.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/suppliers/<%= supplier.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>

