<h2><%= supplier.name %></h2>
<a href="/suppliers/<%= supplier.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', 
            { url: `suppliers/${supplier.id}` }) %>
<% if (materialsBySupplier.length > 0) { %>

<h2>Materials By Supplier</h2>
<% materialsBySupplier.forEach(material => { %>
        <img height="150" width="100" src="<%= material.thumbnailImagePath %>">
    <% }) %>
<% } %>