<header>
    <nav>
        <a href="/">MySupplier</a>
        <ul>
            <li><a href="/suppliers">Suppliers</a></li>
            <li><a href="/suppliers/new">Add Supplier</a></li>
        </ul>

    </nav>

</header>