<header>
    <nav>
        <a href="/">MySupplier</a>
        <ul>
            <li><a href="/materials">Materials</a></li>
            <li><a href="/materials/new">Add Material</a></li>
            <li><a href="/suppliers">Suppliers</a></li>
            <li><a href="/suppliers/new">Add Supplier</a></li>
        </ul>
    </nav>
</header>