
<header class="text-center">
    <nav>
        <a href="/users/login">
            <img height="50" class="websiteLogo" width="40" src="https://maxcdn.icons8.com/Share/icon/Alphabet/m1600.png">
            <img height="50" class="websiteLogo" width="40" src="https://maxcdn.icons8.com/Share/icon/Alphabet/m1600.png">
        </a>
        <h2></h2>
        <ul>
            <!-- <a href="/users/login">Log in / Register</a> -->
        </ul>
    </nav>
</header>