
<header>
    <nav>
        <a href="/">
            <img height="150" width="100" src="https://maxcdn.icons8.com/Share/icon/Alphabet/m1600.png">
            <img height="150" width="100" src="https://maxcdn.icons8.com/Share/icon/Alphabet/m1600.png">
        </a>
        
        <ul>
            <a href="/materials">Materials</a>
            <p1> | </p1>
            <a href="/materials/new">Add Material</a>
            <p1> | </p1>
            <a href="/suppliers">Suppliers</a>
            <p1> | </p1>
            <a href="/suppliers/new">Add Supplier</a>
            <p1> | </p1>
            <a href="/users/logout">Log Out</a>
        </ul>
    </nav>
</header>