
<header>
    <nav>
        <a href="/">MMatters</a>
        <ul>
            <a href="/materials">Materials</a>
            <p1> | </p1>
            <a href="/materials/new">Add Material</a>
            <p1> | </p1>
            <a href="/suppliers">Suppliers</a>
            <p1> | </p1>
            <a href="/suppliers/new">Add Supplier</a>
        </ul>
    </nav>
</header>