<h2></h2> 
<div>
    <%- include('partials/header_public.ejs') %>
</div>
<div>
    <% materials.forEach(material => { %>
        <a href="/materials/<%= material.id %>">
            <img height="150" width="100" src="https://material-image-list.oss-cn-beijing.aliyuncs.com/<%= material.projectName %>/<%= material.ossFileName %>">
        </a>
    <% }) %>
</div>

