<h2></h2> 
<div>
    <%- include('partials/header_public.ejs') %>
</div>
<div>
    <% materials.forEach(material => { %>
        <a href="/materials/<%= material.id %>">
            <img height="150" width="100" src="<%= material.thumbnailImagePath %>">
        </a>
    <% }) %>
</div>

