.btn{
  color: #fff;
background-color: #337ab7;
border-color: #2e6da4; 
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
text-decoration: none;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
a.btn:hover{
background-color: #3366b7;
}
.progress{
margin-top:2px;
width: 200px;
height: 14px;
margin-bottom: 10px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar{ 
background-color: rgb(92, 184, 92);
background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
background-size: 40px 40px;
box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
float: left; 
font-size: 12px;
height: 20px;
line-height: 20px;
text-align: center;
transition-delay: 0s;
transition-duration: 0.6s;
transition-property: width;
transition-timing-function: ease;
width: 266.188px;
}

#avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: cover;
  position: center;
}


#companyLogo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: cover;
  position: center;
}

#avatar-small {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  position: center;
  cursor: pointer;
}


#avatar-small:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.15), 
    -1px -1px 5px 3px rgba(0,0,0,0.1);
  transition: 0.2s linear;
}




.custom-cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.custom-card {
  margin: 30px auto;
  border-radius: 4%;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.15), -5px -5px 30px 7px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.4s;
}

.custom-card .custom-card_image {
  width: inherit;
  height: inherit;
  border-radius: 4%;
}

.custom-card .custom-card_image img {
  width: inherit;
  height: inherit;
  border-radius: 4%;
  object-fit: cover;
}

.custom-card .custom-card_title {
  width: inherit;
  height: inherit;
  text-align: left;
  margin-left: 10px;
  font-family: Helvetica;
  /* font-style: normal; */
  /* size: 12px; */
  /* margin-top: -75px; */
  /* height: 40px; */
}

.custom-card .custom-card_title .custom-card_h {
  text-align: left;
  font-family: Helvetica;
  font-size: 10px;
}


.custom-card .custom-card_title .custom-card_t {
  text-align: left;
  font-family: Helvetica;
  font-weight: bold;
  color: darkgray;
  font-size: 8px;
}


.custom-card .custom-card_title .custom-card_n {
  text-align: left;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 12px;
  margin-top: -29px;
  margin-left: 50px;
}


.custom-card .custom-card_title .custom-card_avatar{
  text-align: left;
  position: absolute;
  /* margin-top: -600px; */
  margin-top: -290px;
  /* height: 40px; */
}


.custom-card .custom-card_title .custom-card_index{
  text-align: left;
  position: absolute;
  /* margin-top: -600px; */
  margin-top: -80px;
  margin-left: 20px;
  /* height: 40px; */
}


#avatar-on-card{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
}

/* 
.custom-card .custom-card_avatar {
  text-align: left;
  //margin-left: 50px;
} */


.custom-card:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.15), 
    -5px -5px 30px 15px rgba(0,0,0,0.1);
}

.icon-style-alliance {
  font-size: 2em;
  color: rgb(245, 52, 213);
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);

}
.icon-style-alliance:hover {
  scale:1.1;
  color: rgb(245, 52, 213);
}



.icon-style-library {
  font-size: 2em;
  color:rgb(255, 183, 0);
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);

}
.icon-style-library:hover {
  scale:1.1;
  color: rgb(255, 178, 95);
}



.icon-style-supplier {
  font-size: 2em;
  color: rgb(128, 255, 0);
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);

}
.icon-style-supplier:hover {
  scale:1.1;
  color: rgb(194, 255, 102);
}


.icon-style-company {
  font-size: 2em;
  color: rgb(56, 193, 247);
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);

}
.icon-style-company:hover {
  scale:1.2;
  color: rgb(161, 228, 255);
}


.icon-style-project {
  font-size: 2em;
  color: purple;
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);

}
.icon-style-project:hover {
  scale:1.2;
  color: purple;
}


.icon-style-new {
  font-size: 2em;
  color: tomato;
  cursor: pointer;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.icon-style-new:hover {
  scale:1.1;
  color: rgb(255, 132, 0);
}


.custom-card_title {
  color: white;
}

.custom-card_title:hover {
  color: white;
}

.title-black {
  color: black;
}




















.custom-profiles-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.custom-profile {
  margin: 30px auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.15), -5px -5px 30px 7px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.4s;
}

.custom-profile .custom-profile_image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.custom-profile .custom-profile_image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}











@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


.dashboard-profile-edit-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.dashboard-profile-edit {
  margin: 30px auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 15px px rgba(0,0,0,0.15), -5px -5px 30px 7px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.4s;
}

.dashboard-profile-edit .dashboard-profile-edit_image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}


.dashboard-profile-edit:before {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity:100%;
}

.dashboard-profile-edit:hover {
  /* width: inherit;
  height: inherit; */
  border-radius: 50%;
  opacity:70%;
}

.dashboard-profile-edit .dashboard-profile-edit_image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}

.dashboard-profile-edit .dashboard-profile-edit_title {
  text-align: center;
  /* border-radius: 4%; */
  /* font-family: Helvetica; */
  /* font-weight: normal; */
  color:rgb(10, 66, 187);
  font-size: 90px;
  margin-top: -170px;
  margin-left: 20px;
  height: 40px;
  opacity: 0%;

}


.dashboard-profile-edit_title:hover {
  width: inherit;
  height: inherit;
  opacity: 100%;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}


#pictureCard {
  width: 300px;
  margin: 20px;
  border-radius: 5%;
} 

#pictureCard-bg {
  width: 100%;
  margin: 5px;
  border-radius: 2.5%;
}

#pictureCard:hover {
  opacity: 0.9;
  scale: 2;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.2s;
} 

#pictureCard:hover:after {
  position: absolute;
  top:0;
  word-wrap: break-word;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  content:attr(data-text);
}

.pictureCard-title {
  font-family: Helvetica;
  font-style: initial;
}

.footerStyle {
  margin-top: 10em;
  margin-bottom: 3em;
}

.websiteLogo {
  margin-top: 1em;
  margin-bottom: 1em;
}


.hide {
  opacity: 0;
}


.gallery-view-icon {
  width:30px;
  height:30px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.list-view-icon {
  width:25px;
  height:25px;
  opacity: 0.5;
  margin-bottom: 15px;
}

/* ----------from now on it's about tags---------- */
:root{
  font-family: Arial, Helvetica, sans-serif;
}

.tags_input {
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 4px;
  margin: 10px;
}

.tags_input .tag {
  font-size: 85% ;
  padding: 0.5em 0.75em;
  margin: 0.25em 0.1em;
  display: inline-block;
  background-color: #ddd;
  transition: all 0.1s linear;
  cursor: pointer;
}

.tags_input .tag:hover {
  background-color: tomato;
  color: white;
}

.tags_input .tag .close::after {
  content: '×';
  font-weight: bold;
  display: inline-block;
  transform: scale(1.4);
  margin-left: 0.75em;
}

.tags_input .tag .close:hover::after {
  color: red;
}

.tags_input .main-input {
  border: 0;
  outline: 0;
  padding: 0.5em 0.1em;
}


.footer_style {
  margin-top: 10em;
}
