<div>
    <%- include('../partials/header_private.ejs') %>
</div>

<div class="container">
    <div class="col text-center" >
    <div>companies index (company name, logo) </div>

    <div>
    company people:
    master users
    standard users
    </div>

    <div>
    alliance companies:
    </div>
</div>