<div>
    <%- include('../partials/header_private.ejs') %>
</div>

<h2>Register Your Company</h2>
<form action="/users/companies/index" method="POST">
    <%- include('_form_fields') %>
    <a href="/users/companies/index">Cancel</a>
    <button type="submit">Create</button>
</form>

