<div>
    <%- include('../partials/header_private.ejs') %>
</div>

    
<h2>Edit Project</h2>
<form action="/users/projects/index/<%= project.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/users/projects/index/<%= project.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>

