<div>
    <%- include('../partials/header_private.ejs') %>
</div>

<div class="container">
    <div class="row">
            <div class="col">
            
            </div>

            <div class="col-6">
                <h2>Edit Material</h2>
                <form action="/users/materials/index/<%= material.id %>?_method=PUT" method="POST">
                    <%- include('_form_fields') %>
                    <a class="btn btn-secondary disabled" href="/users/materials/index">Cancel</a>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <%- include('../partials/deleteform', { url: `/users/materials/index/${material.id}` }) %>
                </form>
            </div>
            <div class="col">
                        
            </div>
    </div>
</div>


