<h2>New Material</h2>
<form action="/materials" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/materials">Cancel</a>
    <button type="submit">Create</button>
</form>

