<div>
    <%- include('../partials/header_private.ejs') %>
</div>    

<div class="container">
    <div class="row">
            <div class="col">
            
            </div>

            <div class="col-6">
                <form action="/users/materials/index" method="POST">
                    <%- include('_form_fields') %>
                    <a href="/users/materials/index">Cancel</a>
                    <button type="submit">Create</button>
                </form>
            </div>
            <div class="col">
                        
            </div>
    </div>
</div>




