
<form name=theform>
<input type="radio" name="myradio" value="local_name" checked=true/> keep the local file name
<input type="radio" name="myradio" value="random_name" /> give the file a random name
<br/>
上传到指定目录:<input type="text" id='dirname' placeholder="如果不填，默认是上传到根目录" size=50>
</form>

<h4>您所选择的文件列表：</h4>
<div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>

<br/>

<div id="container">
	<a id="selectfiles" href="javascript:void(0);" class='btn'>choose</a>
	<a id="postfiles" href="javascript:void(0);" class='btn'>upload</a>
</div>

<pre id="console"></pre>


<p>&nbsp;</p>